:root {
  --darkest: rgb(34, 40, 49);
  --dark: rgb(57, 62, 70);
  --dark-blue: rgb(0, 173, 181);
  --blue: rgb(0, 255, 245);
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
    0deg,
    hsl(216deg 18% 16%) 0%,
    hsl(216deg 16% 17%) 11%,
    hsl(216deg 15% 19%) 22%,
    hsl(217deg 14% 20%) 33%,
    hsl(217deg 13% 21%) 44%,
    hsl(217deg 12% 22%) 56%,
    hsl(217deg 12% 22%) 67%,
    hsl(217deg 11% 23%) 78%,
    hsl(217deg 11% 24%) 89%,
    hsl(217deg 10% 25%) 100%
  );
}

#logo {
  margin-top: 1em;
  font-size: 48px;
  color: rgb(217, 248, 247);
  font-family: "Berkshire Swash", sans-serif;
}

#cards {
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(5, max(150px));
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2em;

}

.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
  box-shadow: 0px 0px 34px 13px rgba(5, 215, 234, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.container{
  display: grid;
  justify-items: center;
}

.score-display {
  color: rgb(217, 248, 247);
  display: flex;
  gap: 2em;
  justify-content: space-around;
}


@media only screen and (max-width: 850px) {
  #cards {
    display: grid;
    grid-template-columns: repeat(3, max(150px));
    grid-auto-rows: 1fr;
  }
  
}



@media only screen and (max-width: 550px) {
  #cards {
    display: grid;
    grid-template-columns: repeat(2, max(150px));
    grid-auto-rows: 1fr;
  }
  
}

.loader {
  position: relative;
  width:  48px;
  height: 48px;
  background: #de3500;
  transform: rotateX(65deg) rotate(45deg);
  transform: perspective(200px) rotateX(65deg) rotate(45deg); 
  color: #fff;
  animation: layers1 1s linear infinite alternate;
}
.loader:after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.7);
  animation: layerTr 1s linear infinite alternate;
}

@keyframes layers1 {
  0% { box-shadow: 0px 0px 0 0px  }
 90% , 100% { box-shadow: 20px 20px 0 -4px  }
}
@keyframes layerTr {
  0% { transform:  translate(0, 0) scale(1) }
  100% {  transform: translate(-25px, -25px) scale(1) }
}
    
